<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden Bizi Seçmelisiniz</h3>
                    <p>
                        Yummy olarak, misafirlerimize en taze ve kaliteli malzemelerle hazırlanan, lezzet dolu bir deneyim sunuyoruz. Sadece yemek değil, aynı zamanda keyifli bir atmosfer ve güler yüzlü hizmet vadediyoruz. Mutfak ekibimiz, her yemeği özenle hazırlarken, farklı damak zevklerine hitap eden geniş bir menü sunuyor. Huzur ve lezzeti bir araya getiren restoranımızda, her anınızı unutulmaz kılmak için buradayız.
                    </p>

                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-xl-4">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Özenli Planlama</h4>
                            <p>Siparişten servise kadar her aşamada titizlikle çalışıyoruz. Detaylara gösterdiğimiz özenle, kusursuz bir deneyim yaşamanız için buradayız!</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Her Detayda Mükemmellik</h4>
                            <p>Yummy, kaliteli malzemeler, özenle hazırlanmış tarifler ve kusursuz hizmet anlayışıyla size hak ettiğiniz eşsiz bir deneyim sunar.</p>
                        </div>
                    </div><!-- End Icon Box -->

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Sorularınıza Anında Yanıt</h4>
                            <p>Her türlü sorunuz için müşteri hizmetlerimizle kolayca iletişime geçebilir, hızlı ve etkili çözümler alabilirsiniz. Sizin için buradayız!</p>
                        </div>
                    </div><!-- End Icon Box -->

                </div>
            </div>

        </div>

    </div>

</section>

<section id="stats" class="stats section dark-background">

    <img src="~/Templates/yummy-red-1.0.0/assets/img/stats-bg.jpg" alt="" data-aos="fade-in">

    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="5126" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Müşteri</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="98" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Çeşit Ürün</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="14537" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Yemek Servisi</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Çalışan</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section>
