
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - Yummy Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="~/Templates/yummy-red-1.0.0/assets/img/favicon.png" rel="icon">
    <link href="~/Templates/yummy-red-1.0.0/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Templates/yummy-red-1.0.0/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Templates/yummy-red-1.0.0/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Templates/yummy-red-1.0.0/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Templates/yummy-red-1.0.0/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Templates/yummy-red-1.0.0/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/Templates/yummy-red-1.0.0/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Yummy
    * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body class="index-page">

    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container position-relative d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="~/Templates/yummy-red-1.0.0/assets/img/logo.png" alt=""> -->
                <h1 class="sitename">Yummy</h1>
                <span>.</span>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="/Default/Index/" class="active">Anasayfa<br></a></li>
                    <li><a href="#about">Hakkımızda</a></li>
                    <li><a href="#why-us">Neden Yummy</a></li>
                    <li><a href="#menu">Menü</a></li>
                    <li><a href="#testimonials">Referanslarımız</a></li>
                    <li><a href="#events">Etkinlikler</a></li>
                    <li><a href="#chefs">Şefler</a></li>
                    <li><a href="#gallery">Galeri</a></li>
                    <li><a href="#contact">İletişim</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" href="#book-a-table">Rezervasyon Yapın</a>

        </div>
    </header>

    <main class="main">

        @RenderBody()
    </main>

    <footer id="footer" class="footer dark-background">

        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-geo-alt icon"></i>
                    <div class="address">
                        <h4>Adres</h4>
                        <p>Bağlarbaşı Mah.</p>
                        <p>Maltepe / İstanbul</p>
                        <p></p>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-telephone icon"></i>
                    <div>
                        <h4>İletişim</h4>
                        <p>
                            <strong>Telefon:</strong> <span>+90 559 88 55</span><br>
                            <strong>Eposta:</strong> <span>bilgi@yummy.com</span><br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-clock icon"></i>
                    <div>
                        <h4>Çalışma Saatlerimiz</h4>
                        <p>
                            <strong>Pzt-Cmt:</strong> <span>11:00 - 23:00</span><br>
                            <strong>Pazar</strong>: <span>Kapalıyız</span>
                        </p>
                    </div>
                </div>

                @Html.Action("SocialMedias","UILayout")

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <div class="credits">

            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Templates/yummy-red-1.0.0/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Templates/yummy-red-1.0.0/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Templates/yummy-red-1.0.0/assets/vendor/aos/aos.js"></script>
    <script src="~/Templates/yummy-red-1.0.0/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Templates/yummy-red-1.0.0/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/Templates/yummy-red-1.0.0/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="~/Templates/yummy-red-1.0.0/assets/js/main.js"></script>

</body>

</html>